.recipe-list {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  flex-wrap: wrap;
  margin: 40px auto;

  .card {
    background-color: white;
    width: 343px;
    color: #333;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-out;
    transform: rotate3d(0, 0, 0, 0);
    position: relative;
    margin: 0px 5px;
    margin-bottom: 20px;

    &:hover {
      transform: rotate3d(0, 0.5, -0.1, 10deg);
      box-shadow: -6px 3px 6px rgba(0, 0, 0, 0.1);
    }

    h3 {
      color: #555;
      margin-bottom: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
        fill: #666;
        cursor: pointer;
      }
    }
    p {
      color: #999;
      font-size: 0.9em;
    }
    div {
      color: #555;
      font-size: 0.7em;
      margin: 20px 0;
      line-height: 1.5em;
    }
    a {
      color: #fff;
      text-decoration: none;
      display: block;
      font-size: 0.9em;
      width: 120px;
      text-align: center;
      padding: 8px;
      border-radius: 4px;
      margin: 20px auto 0;
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: center;
  }
}
